@use "./base.scss";

// put your custom CSS here!

.callout {
  &[data-callout="custom"] {
    color: var (--light);
    border: var (--secondary);
    bg: var (--light);
    font-color: var (--dark)
  }
}